body{
  background: #eee6f7;
}
.login-form {
  margin-top: 200px;
}

.container {
  font-family: 'Lato', sans-serif;
  height: 20vh;
  font-size: 14px;

}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.action-button{
  background:#6ed3cf !important;
  border-color: #6ed3cf !important;
}
.panel{
  -webkit-box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  border: 0 !important;
}
.col-sm-8{
  background:white !important;
  padding-top:15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
}
.navbar-inverse {
  background-color: #636468;
  height: 100px;
  -webkit-box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 38px 0px rgba(0,0,0,0.75);
  border: 0.5px solid black !important;
}
.row{
  margin-top:120px;
}
.cvs-logo {
  width: 250px;

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  float: right;
}

.panel-default>.panel-heading {
  background-color: #6ed3cf;
}
.panel-title{
  color:white;
}
.top-margin {
  margin-top: 200px;
}
.navbar-brand h3{
  font-weight:900;
  color:white;
  font-size:50px;
  margin-top:5px;
  letter-spacing: 5px;
}
.top {
  padding-top: 15px;
}
